@font-face{font-family:"Parisienne";src:url("../fonts/Parisienne-Regular.ttf") format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:"Cormorant Garamond";src:url("../fonts/Cormorant-Regular.ttf") format("truetype");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:"Cormorant Garamond";src:url("../fonts/Cormorant-Medium.ttf") format("truetype");font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:"Cormorant Garamond";src:url("../fonts/Cormorant-Semibold.ttf") format("truetype");font-weight:600;font-style:normal;font-display:swap}

@font-face{font-family:"Imperial Script";src:url("../fonts/ImperialScript.woff") format("woff");font-weight:400;font-style:normal;font-display:swap}
